<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
      <div class="sidebar-header">
          <h3>MIMA</h3>
      </div>

      <ul style="margin-left:2%;" class="list-unstyled components">
        <li>
          <a href="/#/machineShow">Macchinario</a>
        </li>
        <li>
          <a href="/#/wbsShow">WBS</a>
        </li>
        <li>
          <a href="/#/taskShow">Task</a>
        </li>
        <li>
          <a href="/#/instructionShow">Istruzione</a>
        </li>
        <li>
          <a href="/#/schedulingShow">Scheduling</a>
        </li>
        <li>
          <a href="/#/employeeShow">Employee</a>
        </li>
        <li>
          <a href="/#/taskScheduledShow">Input/output</a>
        </li>
        <li>
          <a href="/#/sendMessage">Messaggi MQTT</a>
        </li>
        <li>
          <a href="/#/userUpdate">Profilo</a>
        </li>
        <li>
          <a href="/#/login">Logout</a>
        </li>
      </ul>
  </nav>
</div>