<ul class ="menu">
  <li>
    <div class="dropdown">
    <button class="dropbtn">Macchinari</button>
    
    <div class="dropdown-content"> 
      <a href="/#/machineInsert">Inserisci</a>
      <a href="/#/machineShow">Lista</a>
    </div>
  </div>
  </li>
  
  <li>
    <div class="dropdown">
    <button class="dropbtn">Scheduling</button>
    
    <div class="dropdown-content"> 
      <a href="/#/schedulingInsert">Inserisci</a>
      <a href="/#/schedulingShow">Lista</a>
    </div>
  </div>
  </li>
  
  <li>
    <div class="dropdown">
    <button class="dropbtn">Task</button>
    
    <div class="dropdown-content"> 
      <a href="/#/taskInsert">Inserisci</a>
      <a href="/#/taskShow">Lista</a>
      <a href="/#/timeShow">Tempi</a>
    </div>
  </div>
  </li>
  
  <li>
    <div class="dropdown">
    <button class="dropbtn">Istruzioni</button>
    
    <div class="dropdown-content"> 
      <a href="/#/instructionInsert">Inserisci</a>
      <a href="/#/instructionShow">Lista</a>
    </div>
  </div>
  </li>
  
  <li>
    <div class="dropdown">
    <button class="dropbtn">WBS</button>
    
    <div class="dropdown-content"> 
      <a href="/#/WbsInsert">Inserisci</a>
      <a href="/#/WbsShow">Lista</a>
    </div>
  </div>
  </li>
  
  <li>
    <div class="dropdown">
    <a href="/#/userUpdate" class="dropbtn">Profilo</a>				
  </div>
  </li>
  
  <li>
    <div class="dropdown">
    <a href="/#/login" class="dropbtn">Logout</a>			
  </div>
  </li>
</ul>