#sfondo{
	margin-top: 8%;
	margin-left: -10%;
}

p{
	color: blue;
	font-size: 20px;
}

#login{
    margin-left: 35%;
}

#contenitore{
    margin-top: 55%;
    margin-bottom: 40%;
    text-align: center;
    border: 2px solid darkblue;
    -webkit-border-radius: 20px;
}

.icon{
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}

.title {
	text-align: center;
	text-shadow: 2px 2px 3px #333;
	color: darkblue;
}

.input-container{
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon{
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
}



