<app-menu-user></app-menu-user>

<h1 class="title">Lista Wbs</h1>
		
<div id="container">
	
	<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
			<thead>
				
				<tr>
					<th>ID</th>
					<th>Nome</th>
					<th>Opzioni</th>
				</tr>
				
			</thead>
			
			<tbody>
				<tr *ngFor="let wbs of wbsList">			
					<td >{{wbs.id}}</td>
					<td >{{wbs.name}}</td>
					<td>
							<i (click)="chooseWbs(wbs.id)" style="color:green" class='fas fa-check icon'></i>
							<i (click)="deleteWbs(wbs.id)" style="color:black; margin-left:2%;" class='far fa-trash-alt icon'></i>
					</td>
				</tr>
			</tbody>
			
			<tfoot>
				
					<tr>
						<th>ID</th>
						<th>Nome</th>
						<th>Opzioni</th>
					</tr>
					
				</tfoot>
			
	</table>
		<button (click)="open(content)" style="margin-left:45%;" class="btn btn-primary">Inserisci</button>
</div>

<ng-template #content let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title title" id="modal-basic-title">Inserimento WBS</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
			<div class="form-group">
				<input type="text" class="form-control" name="name" placeholder="Inserisci il nome" [(ngModel)]="wbsDTO.name">				
			</div>			
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" (click)="d('Cross click')">Chiudi</button>
		<button type="submit" class="btn btn-primary" (click)="insertWbs()" >Inserisci</button>	
	</div>
</ng-template>
