<app-menu-user></app-menu-user>
<div id="container">
  <h1 class="title">Task Figli</h1>
    <table class="table table-striped">
      <thead>

        <tr>
          <th>ID Task Schedulato</th>
          <th>Descrizione</th>
          <th>Opzioni</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of taskScheduledListToUpdateChild">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>
            <select [(ngModel)] = "idFather">
              <option *ngFor="let task of taskScheduledList" [value]="task.id">
                {{task.name}}
              </option>
            </select>
            <i [ngbTooltip]="select" (click)="addRelationChild(item.id)" style="color:green; margin-left: 3%;" class='fas fa-check icon'></i>
          </td>
        </tr>
      </tbody>
    </table>

</div>

<div id="container">
  <h1 class="title">Task Padri</h1>

    <table class="table table-striped">
      <thead>

        <tr>
          <th>ID Task Schedulato</th>
          <th>Descrizione</th>
          <th>Opzioni</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of taskScheduledListToUpdateFather">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>
              <select [(ngModel)] = "idChild">
                  <option *ngFor="let task of taskScheduledList" [value]="task.id">
                    {{task.name}}
                  </option>
                </select>
            <i [ngbTooltip]="select" (click)="addRelationFather(item.id)" style="color:green; margin-left: 3%;" class='fas fa-check icon'></i>
          </td>
        </tr>
      </tbody>
    </table>
</div>
<button class="btn btn-primary" style="margin-top:2%; margin-left:57%;" type="submit" (click)="finish()">Fine</button>

<ng-template #select>Inserisci relazione</ng-template>