<app-menu-user></app-menu-user>
<h1 class="title">Lista item</h1>
		
<div id="container">
  
  <table class="table table-striped">
      <thead>
        
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Opzioni</th>
        </tr>
        
      </thead>
      
      <tbody>
        <tr *ngFor="let itemList of itemList">			
          <td >{{itemList.id}}</td>
          <td >{{itemList.name}}</td>
          <td >
            <button type="submit" class="btn btn-primary" (click)="insertInput(itemList.id)" >Inserisci come input</button>
            <button type="submit" class="btn btn-primary" (click)="insertOutput(itemList.id)" >Inserisci come output</button>
          </td>

        </tr>
      </tbody>
      
  </table>
    
</div>
