<app-menu-user></app-menu-user>

<h1 class="title">Task schedulati dello scheduling {{nameScheduling}}</h1>
<div id="container">

  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" >
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Output</th>
        <th>Task</th>
        <th>Opzioni</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of taskScheduledShowList">
        <td >{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.output}}</td>
        <td >{{item.descriptionTask}}</td>
        <td>
          <i [ngbTooltip]="insert" (click)="choose(item.id,item.name)" style="color:green" class='fas fa-check icon'></i>
          <i [ngbTooltip]="show" (click)="showInput(item.id)" style="color:black; margin-left:2%;" class="far fa-eye icon"></i>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Output</th>
        <th>Task</th>
        <th>Opzioni</th>
      </tr>
    </tfoot>
  </table>
</div>

<ng-template #insert>Inserisci input/output</ng-template>
<ng-template #show>Visualizza inputs</ng-template>
