<app-menu-user></app-menu-user>

<h1 class="title">Task Schedulati</h1>
<div id="container">

  <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Output</th>
          <th>Task</th>
          <th>Opzioni</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of taskScheduledShowList">
          <td >{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.nameOutput}}</td>
          <td >{{item.descriptionTask}}</td>
          <td>
            <button class="btn btn-primary" (click)="choose(item.id)">Seleziona</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
