<app-menu-user></app-menu-user>
<h1 class="title">Inserisci employee</h1>

<div id="container">

	<form #f="ngForm">

		<div class="form-group">
			<label class="col-form-label">Username</label>
			<input type="text" class="form-control" name="username" [(ngModel)]="userDTO.login">

    </div>

    <div class="form-group">
			<label class="col-form-label">Password</label>
			<input type="password" class="form-control" name="password" [(ngModel)]="userDTO.password">

		</div>

		<div class="form-group">
			<label class="col-form-label">Nome</label>
			<input type="text" class="form-control" name="name" [(ngModel)]="userDTO.firstName">

		</div>

		<div class="form-group">
			<label class="col-form-label">Cognome</label>
			<input type="text" class="form-control" name="surname" [(ngModel)]="userDTO.lastName">

		</div>

		<div class="form-group">
			<label class="col-form-label">Email</label>
			<input type="email" class="form-control" name="email" [(ngModel)]="userDTO.email">

		</div>

		<button type="submit"  class="btn btn-primary" (click)="insertEmployee()" >Inserisci</button>

	</form>

</div>
