<app-menu-admin></app-menu-admin>
<h1 class="title">Lista utenti</h1>

			<div id="container">

				<table class="table table-striped">
				  <thead>

				      <tr>
				        <th>ID</th>
				        <th>Nome</th>
				        <th>Cognome</th>
				        <th>Email</th>
                <th>Telefono</th>
                <th>Opzioni</th>
				      </tr>

				  </thead>

				  <tbody>

							<tr *ngFor="let userList of userList">
                <td>{{userList.id}} </td>
                <td>{{userList.name}} </td>
                <td>{{userList.surname}}</td>
                <td>{{userList.email}}</td>
                <td>{{userList.phone}}</td>
                <td><button class="btn btn-primary" (click)="deleteUser(userList.id)">Elimina</button></td>
              </tr>

          </tbody>
			  </table>
      </div>
