<app-menu-user></app-menu-user>

<h1 class="title">Inserimento macchinario</h1>
    
<div id="container">

  <form #f="ngForm">

    <div class="form-group">
      <label class="col-form-label">Nome</label>
      <input type="text" class="form-control" name="name" [(ngModel)]="machineDTO.name">				
      
    </div>
    
    <div class="form-group">
      <label class="col-form-label">Modello</label>
      <input type="text" class="form-control" name="model" [(ngModel)]="machineDTO.model">				
      
    </div>
    
    <button type="submit" class="btn btn-primary" (click)="insertMachine(f)" >Inserisci</button>	
  
  </form>
  
</div>
