<app-menu-user></app-menu-user>
<h1 class="title">Gestione scheduling</h1>

<div class="container">
  <div class="split2">
      <div>
        <input style="width:50%;" id="task-selected" type="text" class="form-control" placeholder="Task selezionato" #taskSelected disabled>
        <button style="margin-top:2%;" class="btn btn-primary button" (click)="chooseFather(taskSelected.value)">Inserisci Task padre </button><br>
        <button class="btn btn-primary button" (click)="chooseChild(taskSelected.value)">Inserisci Task figlio</button><br>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button style="margin-left:-57%;" class="btn btn-primary button" (click)="delete(taskSelected.value)">Elimina Task</button>
      
        <br><br>
      
        <form #f="ngForm" style="margin-top: 5%;">
            <input style="width:50%;" type="text" class="form-control" name="name" value="{{idFather}}" placeholder="Id Task del padre scelto" disabled>
            <input style="width:50%;" type="text" class="form-control" name="name" value="{{idChild}}" placeholder="Id Task del figlio scelto" disabled>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button style="margin-left:-63%; margin-top: 2%;" type="submit" class="btn btn-primary" (click)="insertTaskScheduled()" >Inserisci</button>
        </form>
      </div>

      <div>
        <canvas id="viewport" style="width:100%; height: 100%;"></canvas>
      </div>
  </div>
  <div class="wide"></div>
</div>

<h2 style="margin-top:3%;" class="title">Task Disponibili</h2>
<div id="taskDisponibiliContainer" class="container">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
      <thead>

        <tr>
          <th>ID</th>
          <th>Descrizione</th>
          <th>Inserimento</th>
        </tr>

      </thead>

      <tbody>
        <tr *ngFor="let task of taskList">
          <td >{{task.id}}</td>
          <td >{{task.description}}</td>
          <td>
            <button class="btn btn-primary" mar (click)="insertTask(task.id, task.description)">Inserisci Task nello Scheduling</button>
          </td>
        </tr>
      </tbody>

      <tfoot>
        <tr>
          <th>ID</th>
          <th>Descrizione</th>
          <th>Inserimento</th>
        </tr>
      </tfoot>

    </table>
</div>