<app-menu-user></app-menu-user>

<h1 class="title">Lista macchinari</h1>
		
		<div id="container">
			
			<table class="table table-striped">
			    <thead>
			      
			      <tr>
			        <th>ID</th>
			        <th>Nome</th>
			        <th>Modello</th>
			        <th>Opzioni</th>
			      </tr>
			      
			    </thead>
			    
			    <tbody>
			    	<tr *ngFor="let machineList of machineList">			
							<td >{{machineList.id}}</td>
              <td >{{machineList.name}}</td>
              <td >{{machineList.model}}</td>
              <td>
                <button class="btn btn-primary" (click)="chooseMachine(machineList.id)">Seleziona</button>
                <button class="btn btn-primary" (click)="deleteMachine(machineList.id)">Elimina</button>
              </td>
						</tr>
			    </tbody>
			    
		  </table>
		  	
		</div>
