<app-menu-user></app-menu-user>

<h1 class="title">Lista istruzioni</h1>
		
<div id="container">
  
  <table #dataTable class="display table table-striped">
      <thead>
        
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Gcode file</th>
          <th>Durata</th>
          <th>Opzioni</th>
        </tr>
        
      </thead>
      
      <tbody>
        <tr *ngFor="let instruction of instructionList">			
          <td >{{instruction.id}}</td>
          <td >{{instruction.name}}</td>
          <td >{{instruction.gcodeFile}}</td>
          <td >{{instruction.duration}}</td>
          <td>
              <i (click)="instructionDelete(instruction.id)" style="color:black; margin-left:2%;" class='far fa-trash-alt icon'></i>
          </td>
        </tr>
      </tbody>

      <tfoot>
        
        <tr>
          <th>ID</th>
          <th>Durata</th>
          <th>Gcode file</th>
          <th>Nome</th>
          <th>Opzioni</th>
        </tr>
        
      </tfoot>
      
  </table>
  <button (click)="open(content)" style="margin-left:45%;" class="btn btn-primary">Inserisci</button>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title title" id="modal-basic-title">Inserimento Istruzione</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
        <input type="text" class="form-control" name="nome" placeholder="Inserisci il nome" [(ngModel)]="instructionDTO.name">				
        
      </div>
      
      <div class="form-group">
        <input type="number" class="form-control" name="durata" placeholder="Inserisci la durata in secondi" [(ngModel)]="instructionDTO.duration">				
      </div>
      
      <div class="form-group">
        <input type="text" class="form-control" name="codice" placeholder="Inserisci il nome del gcode file" [(ngModel)]="instructionDTO.gcodeFile">				
      </div>			
   </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="d('Cross click')">Chiudi</button>
    <button type="submit" class="btn btn-primary" (click)="instructionInsert()" >Inserisci</button>	
  </div>
</ng-template>