<app-menu-user></app-menu-user>
<h1 class="title">Assegnazione task all'employee {{nameEmployee}}</h1>

<div id="container" >
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      
      <tr>
        <th>ID</th>
        <th>Descrizione</th>
        <th>Opzioni</th>
      </tr>
      
    </thead>
    
    <tbody>
      <tr *ngFor="let taskList of taskList">			
        <td >{{taskList.id}}</td>
        <td >{{taskList.description}}</td>
        <td>
          <i [ngbTooltip]="select" (click)="assignTask(taskList.id)" style="color:green" class='fas fa-check icon'></i>
        </td>
      </tr>
    </tbody>

    <tfoot>
      
        <tr>
          <th>ID</th>
          <th>Descrizione</th>
          <th>Opzioni</th>
        </tr>
        
      </tfoot>
    
  </table>
</div>

<ng-template #select>Seleziona</ng-template>
