<app-menu-user></app-menu-user>

<h1 class="title">Lista input del task schedulato {{nameTaskScheduled}}</h1>
		
<div id="container">
	
	<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nome</th>
			</tr>	
		</thead>
		
		<tbody>
			<tr *ngFor="let input of inputShowList">			
				<td >{{input.id}}</td>
				<td >{{input.nameItem}}</td>
			</tr>
		</tbody>

		<tfoot>
			<tr>
				<th>ID</th>
				<th>Nome</th>
			</tr>	
		</tfoot>
			
	</table>
		
</div>
