<app-menu-user></app-menu-user>
<h1 class="title">Lista tempi del task {{descriptionTask}}</h1>
		
<div id="container">
  
  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
      <thead>
        
        <tr>
          <th>Nome Istruzione</th>
          <th>Tempi effettivi</th>
          <th>Tempi previsti</th>
        </tr>
        
      </thead>
      
      <tbody>
        <tr *ngFor="let timeList of timeList" [style.background-color]="(timeList.result)">			
          <td >{{timeList.nameInstruction}}</td>
          <td >{{timeList.effectiveDuration}}</td>
          <td >{{timeList.expectedDuration}}</td>
        </tr>
      </tbody>

      <tfoot>
        
        <tr>
          <th>Nome Istruzione</th>
          <th>Tempi effettivi</th>
          <th>Tempi previsti</th>
        </tr>
          
      </tfoot>
      
  </table>
    
</div>