<app-menu-user></app-menu-user>
<h1 class="title">Lista employee</h1>
		
<div id="container">
  
  <table class="table table-striped">
      <thead>
        
        <tr>
          <th>ID employee</th>
          <th>Name</th>
          <th>Task assegnato</th>
          <th>Opzioni</th>
        </tr>
        
      </thead>
      
      <tbody>
        <tr *ngFor="let employee of employeeShowList">			
          <td >{{employee.id}}</td>
          <td >{{employee.name}}</td>
          <td >{{employee.descriptionTask}}</td>
          <td>
            <button class="btn btn-primary" (click)="employeeDelete(employee.id,employee.idUser)">Elimina</button>
            <button class="btn btn-primary" (click)="assignTask(employee.id)">Assegna task</button>
          </td>
        </tr>
      </tbody>
      
  </table>
    
</div>