<app-menu-user></app-menu-user>

<h1 class="title">Albero</h1>
<div id="container">
  <span id="father">{{father.name}}</span><button button class="btn btn-primary" (click)=insertChild(father.id)>+</button>
<ul class="list">
  <ng-template #recursiveList let-list>
    <li class="list" *ngFor="let item of list">
      {{item.name}}<button class="btn btn-primary" (click)=insertChild(item.id)>+</button><button button class="btn btn-primary" (click)=deleteItem(item.id)>-</button>
      <ul class="list" *ngIf="item.items.length > 0">
        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.items }"></ng-container>
      </ul>
    </li>
  </ng-template>
  <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: list }"></ng-container>
</ul>
</div>
