<app-menu-user></app-menu-user>

<h1 class="title">Albero della WBS {{nameWbs}}</h1>
<div id="container">
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- Leaf node -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      {{node.item.name}} <i (click)="open(node.item.id,content)" [ngbTooltip]="insert" class="fas fa-plus icon2"></i> <i (click)="deleteItem(node.item.id)" [ngbTooltip]="delete" class="{{node.item.fatherId != null ? 'fas fa-minus icon2' : ''}}"></i>
    </mat-tree-node>
  
    <!-- expandable node -->
    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
      <i class="{{treeControl.isExpanded(node) ? 'fas fa-chevron-down' : 'fas fa-chevron-right'}} icon" [attr.aria-label]="'toggle ' + node.filename" (click)="loadChildren(node)" matTreeNodeToggle></i>
      {{node.item.name}} <i (click)="open(node.item.id,content)" [ngbTooltip]="insert" class="fas fa-plus icon2"></i> <i (click)="deleteItem(node.item.id)" [ngbTooltip]="delete" class="{{node.item.fatherId != null ? 'fas fa-minus icon2' : ''}}"></i>
    </mat-tree-node>

  </mat-tree>
</div>

<ng-template #insert>Inserisci nodo</ng-template>
<ng-template #delete>Elimina nodo</ng-template>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title title" id="modal-basic-title">Inserimento item</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <input type="text" class="form-control" name="name" placeholder="Inserisci il nome" [(ngModel)]="itemDTO.name">				
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="d('Cross click')">Chiudi</button>
    <button type="submit" class="btn btn-primary" (click)="insertItem()" >Inserisci</button>	
  </div>
</ng-template>
